<!------------------------------------------------------------------------------------------------- 
Beginning of blueprintcss div classes container and showgrid (divs identify the structural sections of a document and are 
used for laying out a web page using CSS. The div element can be used to group almost any elements together.
Example core attributes of the div block element include div id="" class="", etc.  

The id attribute provides a unique identifier for an element within the document.  This identifier may be used in CSS code 
as a hook that can be used for styling purposes, or by JavaScript code (via the Document Object Model, or DOM) to make 
changes or add behavior to the element by referencing its unique id.  The most important aspect of the id attribute is 
that it must be absolutely unique.  Unlike the class attribute, which may apply the same value to many elements in a page, 
an id that’s applied to an element must not match an id used anywhere else on the same page.

While the name of an element specifies its type, the class attribute lets you assign to it one or more subtypes. These 
subtypes can also be used in CSS code for styling purposes, or by JavaScript code (via the Document Object Model, or DOM) 
to make changes, or add behavior, to elements belonging to a particular subtype.

showgrid
-------------------------------------------------------------------------------------------------------------->

<div id="css_container" class="container">

    <!-------------------------------------------------------------------------------------------------------------- 
    The following div block element is assigned to class subtype span-21 to indicate spanning the first 21 columns in the grid. 
    In general, subtypes may be used in CSS code for styling purposes, or by JavaScript code (via the Document Object Model, or DOM)
    to make changes, or add behavior, to elements belonging to a particular subtype. The class span-21 is linked to the .span-21 
    class in the screen.css stylesheet.
    -------------------------------------------------------------------------------------------------------------->
  
	  <div class="span-21 prepend-top">
		  <script type="text/javascript">
	      <!-- 
	      // Array of day names
	      var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday",
	      				"Thursday","Friday","Saturday");
	      var now = new Date();
	      document.write("Enjoy your " + dayNames[now.getDay()] + ".");
	      // -->
	      </script>
	    </div>

      <!-------------------------------------------------------------------------------------------------------------- 
      The following div block element is assigned to class subtype span-3 last to indicate spanning the next 3 columns in the grid
      and is the last for this row. The class span-3 and class last is linked to the 
  		.span-3 and .last (the last column in a row needs this class) classes in the screen.css stylesheet.
      -------------------------------------------------------------------------------------------------------------->
	    
	   <div class="span-3 prepend-top last">
        <a href="https://barone.projectpath.com/" class="signin">Customer Sign in</a>
		 </div>

    <!-------------------------------------------------------------------------------------------------------------- 
    The following div block element is assigned to class subtype span-24 to indicate spanning all 24 columns in the grid
    and is the last for this row. The class span-24 and class last is linked to the 
		.span-24 and .last (the last column in a row needs this class) classes in the screen.css stylesheet.
    -------------------------------------------------------------------------------------------------------------->

		<div class="span-24 last">
      </br>
      <center>
		  <%= image_tag("logos/bands_logo_half.jpg", :alt => "Barone & Sons Logo", :size => "250x125") %>
		  </center>
		  </br>
		</div>

    <!-------------------------------------------------------------------------------------------------------------- 
    The following div block element is assigned to class subtype span-18 to indicate the first 4 tabs spanning the first 
    18 columns in the grid. The class span-18 is linked to the .span-18 class in the screen.css stylesheet.  
    -------------------------------------------------------------------------------------------------------------->

    <div class="span-21">

    <!-------------------------------------------------------------------------------------------------------------- 	  
    The unordered list (ul) is assigned to class tabs.  The tabs plugin is part of the blueprintcss css framework.  It is 
    referenced in the applicaiton.html.erb by including the line < %= stylesheet_link_tag 'blueprint/plugins/tabsplugin/screen',
    :media => 'screen,projection' % > which references the screen.css file in the stylesheets/blueprint/plugins/tabsplugin 
    directory.
    -------------------------------------------------------------------------------------------------------------->    

    <ul class="tabs">
    	<li> <a href="home">Home</a> </li>
    	<li> <a href="neighborhoods">Neighborhoods</a> </li>
    	<li> <a href="model_home" class="selected">Model Home</a> </li>
    	<li> <a href='photo_gallery'>Photo Gallery</a> </li>
    </div>

    <div class="span-3 last">
    <ul class='tabs'>
 <!--   	<li><a href='our_story'>Our Story</a> </li> -->
    	<li><a href='contact'>Contact US</a> </li>
    </div>
    </br>

    <div class="span-24 hrtab last">
    <p> </p>
    </div>
    
    <!-------------------------------------------------------------------------------------------------------------- 
    The following div block element is assigned to class subtype span-24 to indicate spanning all 24 columns in the grid
    and is the last for this row. The class span-24 and class last is linked to the 
		.span-24 and .last (the last column in a row needs this class) classes in the screen.css stylesheet.
    -------------------------------------------------------------------------------------------------------------->
		<div class="span-24 last">
		</br>
		<center>		
		<H1>Would you like to make the new home building<br> 
		process even easier?  Buy our model today.</H1>
		</center>
		</div>
    
    <div class="span-16">
    <br>

    <table>
      <caption align="right"><b>Pictures</b></caption>
        <tr>
          <th>
          <br> 
		<div class="content">
				<div id="msg_slideshow" class="msg_slideshow">

					<div id="msg_wrapper" class="msg_wrapper">

					</div>

					<div id="msg_controls" class="msg_controls"><!-- right has to animate to 15px, default -110px -->
						<a href="#" id="msg_grid" class="msg_grid"></a>
						<a href="#" id="msg_prev" class="msg_prev"></a>
						<a href="#" id="msg_pause_play" class="msg_pause"></a><!-- has to change to msg_play if paused-->
						<a href="#" id="msg_next" class="msg_next"></a>
					</div>

					<div id="msg_thumbs" class="msg_thumbs"><!-- top has to animate to 0px, default -230px -->
						<ul class="msg_thumb_wrapper">
							<li><img src="/images/thumbs/1.jpg" alt="/images/1.jpg" /></li>
							<li><img src="/images/thumbs/2.jpg" alt="/images/2.jpg" /></li>
							<li><img src="/images/thumbs/3.jpg" alt="/images/3.jpg" /></li>
							<li><img src="/images/thumbs/4.jpg" alt="/images/4.jpg" /></li>
							<li><img src="/images/thumbs/5.jpg" alt="/images/5.jpg" /></li>
							<li><img src="/images/thumbs/6.jpg" alt="/images/6.jpg" /></li>
						</ul>
						<ul class="msg_thumb_wrapper" style="display:none;">
							<li><img src="/images/thumbs/7.jpg" alt="/images/7.jpg" /></li>
							<li><img src="/images/thumbs/8.jpg" alt="/images/8.jpg" /></li>
							<li><img src="/images/thumbs/9.jpg" alt="/images/9.jpg" /></li>
							<li><img src="/images/thumbs/10.jpg" alt="/images/10.jpg" /></li>
							<li><img src="/images/thumbs/11.jpg" alt="/images/11.jpg" /></li>
							<li><img src="/images/thumbs/12.jpg" alt="/images/12.jpg" /></li>
						</ul>
						<a href="#" id="msg_thumb_next" class="msg_thumb_next"></a>
						<a href="#" id="msg_thumb_prev" class="msg_thumb_prev"></a>
						<a href="#" id="msg_thumb_close" class="msg_thumb_close"></a>
						<span class="msg_loading"></span><!-- show when next thumb wrapper loading -->
					</div>

				</div>
		</div>
          </th>
        </tr>
    </table>
    </div>
    
    <div class="span-8 last">
    <br>
    <table>
      <caption><b>695 Cottage Brook Lane</b></caption>

        <tr>
          <td>Square Feet: </th>
          <td>2,300 </th>
        </tr>

        <tr>
          <td>Price: </td>
          <td>$309,900 </td>
        </tr>

        <tr>
          <td>Bedrooms</td>
          <td>4</td>
        </tr>

    </table>

    </div>    
    
    <div class="span-24 footer last">
    </br>
		<center>
		All text and design is copyright ©2004-2011 Barone & Sons, LLC. All rights reserved.
		<br>
		<br>
		Call (585) 872-1490
		</center>
    </div>
    <!-------------------------------------------------------------------------------------------------------------- 
    End of blueprintcss grid container
    -------------------------------------------------------------------------------------------------------------->
    </div>

    <!-------------------------------------------------------------------------------------------------------------- 
    After Grid Contaier
    -------------------------------------------------------------------------------------------------------------->
	<!-- The JavaScript -->

	<!--	Tried using Ruby on Rails jquery library but couldn't get it working.  Used the ajax.googleapis.com reference
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/jquery_ujs.js"></script>
	< %= javascript_include_tag :all %> 
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript">  -->

	 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	 <script type="text/javascript">

	            $(function() {
					/**
					* interval : time between the display of images
					* playtime : the timeout for the setInterval function
					* current  : number to control the current image
					* current_thumb : the index of the current thumbs wrapper
					* nmb_thumb_wrappers : total number	of thumbs wrappers
					* nmb_images_wrapper : the number of images inside of each wrapper
					*/
					var interval			= 4000;
					var playtime;
					var current 			= 0;
					var current_thumb 		= 0;
					var nmb_thumb_wrappers	= $('#msg_thumbs .msg_thumb_wrapper').length;
					var nmb_images_wrapper  = 6;
					/**
					* start the slideshow
					*/
					play();

					/**
					* show the controls when 
					* mouseover the main container
					*/
					slideshowMouseEvent();
					function slideshowMouseEvent(){
						$('#msg_slideshow').unbind('mouseenter')
										   .bind('mouseenter',showControls)
										   .andSelf()
										   .unbind('mouseleave')
										   .bind('mouseleave',hideControls);
						}

					/**
					* clicking the grid icon,
					* shows the thumbs view, pauses the slideshow, and hides the controls
					*/
					$('#msg_grid').bind('click',function(e){
						hideControls();
						$('#msg_slideshow').unbind('mouseenter').unbind('mouseleave');
						pause();
						$('#msg_thumbs').stop().animate({'top':'0px'},500);
						e.preventDefault();
					});

					/**
					* closing the thumbs view,
					* shows the controls
					*/
					$('#msg_thumb_close').bind('click',function(e){
						showControls();
						slideshowMouseEvent();
						$('#msg_thumbs').stop().animate({'top':'-230px'},500);
						e.preventDefault();
					});

					/**
					* pause or play icons
					*/
					$('#msg_pause_play').bind('click',function(e){
						var $this = $(this);
						if($this.hasClass('msg_play'))
							play();
						else
							pause();
						e.preventDefault();	
					});

					/**
					* click controls next or prev,
					* pauses the slideshow, 
					* and displays the next or prevoius image
					*/
					$('#msg_next').bind('click',function(e){
						pause();
						next();
						e.preventDefault();
					});
					$('#msg_prev').bind('click',function(e){
						pause();
						prev();
						e.preventDefault();
					});

					/**
					* show and hide controls functions
					*/
					function showControls(){
						$('#msg_controls').stop().animate({'right':'15px'},500);
					}
					function hideControls(){
						$('#msg_controls').stop().animate({'right':'-110px'},500);
					}

					/**
					* start the slideshow
					*/
					function play(){
						next();
						$('#msg_pause_play').addClass('msg_pause').removeClass('msg_play');
						playtime = setInterval(next,interval)
					}

					/**
					* stops the slideshow
					*/
					function pause(){
						$('#msg_pause_play').addClass('msg_play').removeClass('msg_pause');
						clearTimeout(playtime);
					}

					/**
					* show the next image
					*/
					function next(){
						++current;
						showImage('r');
					}

					/**
					* shows the previous image
					*/
					function prev(){
						--current;
						showImage('l');
					}

					/**
					* shows an image
					* dir : right or left
					*/
					function showImage(dir){
						/**
						* the thumbs wrapper being shown, is always 
						* the one containing the current image
						*/
						alternateThumbs();

						/**
						* the thumb that will be displayed in full mode
						*/
						var $thumb = $('#msg_thumbs .msg_thumb_wrapper:nth-child('+current_thumb+')')
									.find('li:nth-child('+ parseInt(current - nmb_images_wrapper*(current_thumb -1)) +')')
									.find('img');
						if($thumb.length){
							var source = $thumb.attr('alt');
							var $currentImage = $('#msg_wrapper').find('img');
							if($currentImage.length){
								$currentImage.fadeOut(function(){
									$(this).remove();
									$('<img />').load(function(){
										var $image = $(this);
										resize($image);
										$image.hide();
										$('#msg_wrapper').empty().append($image.fadeIn());
									}).attr('src',source);
								});
							}
							else{
								$('<img />').load(function(){
										var $image = $(this);
										resize($image);
										$image.hide();
										$('#msg_wrapper').empty().append($image.fadeIn());
								}).attr('src',source);
							}

						}
						else{ //this is actually not necessary since we have a circular slideshow
							if(dir == 'r')
								--current;
							else if(dir == 'l')
								++current;	
							alternateThumbs();
							return;
						}
					}

					/**
					* the thumbs wrapper being shown, is always 
					* the one containing the current image
					*/
					function alternateThumbs(){
						$('#msg_thumbs').find('.msg_thumb_wrapper:nth-child('+current_thumb+')')
										.hide();
						current_thumb = Math.ceil(current/nmb_images_wrapper);
						/**
						* if we reach the end, start from the beggining
						*/
						if(current_thumb > nmb_thumb_wrappers){
							current_thumb 	= 1;
							current 		= 1;
						}	
						/**
						* if we are at the beggining, go to the end
						*/					
						else if(current_thumb == 0){
							current_thumb 	= nmb_thumb_wrappers;
							current 		= current_thumb*nmb_images_wrapper;
						}

						$('#msg_thumbs').find('.msg_thumb_wrapper:nth-child('+current_thumb+')')
										.show();	
					}

					/**
					* click next or previous on the thumbs wrapper
					*/
					$('#msg_thumb_next').bind('click',function(e){
						next_thumb();
						e.preventDefault();
					});
					$('#msg_thumb_prev').bind('click',function(e){
						prev_thumb();
						e.preventDefault();
					});
					function next_thumb(){
						var $next_wrapper = $('#msg_thumbs').find('.msg_thumb_wrapper:nth-child('+parseInt(current_thumb+1)+')');
						if($next_wrapper.length){
							$('#msg_thumbs').find('.msg_thumb_wrapper:nth-child('+current_thumb+')')
											.fadeOut(function(){
												++current_thumb;
												$next_wrapper.fadeIn();									
											});
						}
					}
					function prev_thumb(){
						var $prev_wrapper = $('#msg_thumbs').find('.msg_thumb_wrapper:nth-child('+parseInt(current_thumb-1)+')');
						if($prev_wrapper.length){
							$('#msg_thumbs').find('.msg_thumb_wrapper:nth-child('+current_thumb+')')
											.fadeOut(function(){
												--current_thumb;
												$prev_wrapper.fadeIn();									
											});
						}				
					}

					/**
					* clicking on a thumb, displays the image (alt attribute of the thumb)
					*/
					$('#msg_thumbs .msg_thumb_wrapper > li').bind('click',function(e){
						var $this 		= $(this);
						$('#msg_thumb_close').trigger('click');
						var idx			= $this.index();
						var p_idx		= $this.parent().index();
						current			= parseInt(p_idx*nmb_images_wrapper + idx + 1);
						showImage();
					}).bind('mouseenter',function(){
						var $this 		= $(this);
						$this.stop().animate({'opacity':1});
					}).bind('mouseleave',function(){
						var $this 		= $(this);	
						$this.stop().animate({'opacity':0.7});
					});

					/**
					* resize the image to fit in the container (400 x 400)
					*/
					function resize($image){
						var theImage 	= new Image();
						theImage.src 	= $image.attr("src");
						var imgwidth 	= theImage.width;
						var imgheight 	= theImage.height;

						var containerwidth  = 400;
						var containerheight = 400;

						if(imgwidth	> containerwidth){
							var newwidth = containerwidth;
							var ratio = imgwidth / containerwidth;
							var newheight = imgheight / ratio;
							if(newheight > containerheight){
								var newnewheight = containerheight;
								var newratio = newheight/containerheight;
								var newnewwidth =newwidth/newratio;
								theImage.width = newnewwidth;
								theImage.height= newnewheight;
							}
							else{
								theImage.width = newwidth;
								theImage.height= newheight;
							}
						}
						else if(imgheight > containerheight){
							var newheight = containerheight;
							var ratio = imgheight / containerheight;
							var newwidth = imgwidth / ratio;
							if(newwidth > containerwidth){
								var newnewwidth = containerwidth;
								var newratio = newwidth/containerwidth;
								var newnewheight =newheight/newratio;
								theImage.height = newnewheight;
								theImage.width= newnewwidth;
							}
							else{
								theImage.width = newwidth;
								theImage.height= newheight;
							}
						}
						$image.css({
							'width'	:theImage.width,
							'height':theImage.height
						});
					}
	            });

	        </script>