<!-------------------------------------------------------------------------------------------------------------- 
Beginning of blueprintcss div classes container and showgrid (divs identify the structural sections of a document and are 
used for laying out a web page using CSS. The div element can be used to group almost any elements together.
Example core attributes of the div block element include div id="" class="", etc.  

The id attribute provides a unique identifier for an element within the document.  This identifier may be used in CSS code 
as a hook that can be used for styling purposes, or by JavaScript code (via the Document Object Model, or DOM) to make 
changes or add behavior to the element by referencing its unique id.  The most important aspect of the id attribute is 
that it must be absolutely unique.  Unlike the class attribute, which may apply the same value to many elements in a page, 
an id that’s applied to an element must not match an id used anywhere else on the same page.

While the name of an element specifies its type, the class attribute lets you assign to it one or more subtypes. These 
subtypes can also be used in CSS code for styling purposes, or by JavaScript code (via the Document Object Model, or DOM) 
to make changes, or add behavior, to elements belonging to a particular subtype.

showgrid
-------------------------------------------------------------------------------------------------------------->

<div id="css_container" class="container">

    <!-------------------------------------------------------------------------------------------------------------- 
    The following div block element is assigned to class subtype span-21 to indicate spanning the first 21 columns in the grid. 
    In general, subtypes may be used in CSS code for styling purposes, or by JavaScript code (via the Document Object Model, or DOM)
    to make changes, or add behavior, to elements belonging to a particular subtype. The class span-21 is linked to the .span-21 
    class in the screen.css stylesheet.
    -------------------------------------------------------------------------------------------------------------->
  
	  <div class="span-21 prepend-top">
		  <script type="text/javascript">
	      <!-- 
	      // Array of day names
	      var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday",
	      				"Thursday","Friday","Saturday");
	      var now = new Date();
	      document.write("Enjoy your " + dayNames[now.getDay()] + ".");
	      // -->
	      </script>
	    </div>

      <!-------------------------------------------------------------------------------------------------------------- 
      The following div block element is assigned to class subtype span-3 last to indicate spanning the next 3 columns in the grid
      and is the last for this row. The class span-3 and class last is linked to the 
  		.span-3 and .last (the last column in a row needs this class) classes in the screen.css stylesheet.
      -------------------------------------------------------------------------------------------------------------->
	    
	   <div class="span-3 prepend-top last">
        <a href="https://barone.projectpath.com/" class="signin">Customer Sign in</a>
		 </div>

    <!-------------------------------------------------------------------------------------------------------------- 
    The following div block element is assigned to class subtype span-24 to indicate spanning all 24 columns in the grid
    and is the last for this row. The class span-24 and class last is linked to the 
		.span-24 and .last (the last column in a row needs this class) classes in the screen.css stylesheet.
    -------------------------------------------------------------------------------------------------------------->

		<div class="span-24 last">
      </br>
      <center>
		  <%= image_tag("logos/bands_logo_half.jpg", :alt => "Barone & Sons Logo", :size => "250x125") %>
		  </center>
		  </br>
		</div>

    <!-------------------------------------------------------------------------------------------------------------- 
    The following div block element is assigned to class subtype span-18 to indicate the first 4 tabs spanning the first 
    18 columns in the grid. The class span-18 is linked to the .span-18 class in the screen.css stylesheet.  
    -------------------------------------------------------------------------------------------------------------->

    <div class="span-21">

    <!-------------------------------------------------------------------------------------------------------------- 	  
    The unordered list (ul) is assigned to class tabs.  The tabs plugin is part of the blueprintcss css framework.  It is 
    referenced in the applicaiton.html.erb by including the line < %= stylesheet_link_tag 'blueprint/plugins/tabsplugin/screen',
    :media => 'screen,projection' % > which references the screen.css file in the stylesheets/blueprint/plugins/tabsplugin 
    directory.
    -------------------------------------------------------------------------------------------------------------->    

    <ul class="tabs">
    	<li> <a href='/pages/home'>Home</a> </li>
    	<li> <a href='/pages/neighborhoods' class="selected">Neighborhoods</a> </li>
    	<li> <a href='/pages/model_home'>Model Home</a> </li>
    	<li> <a href='/pages/photo_gallery'>Photo Gallery</a> </li>
    </div>

    <div class="span-3 last">
    <ul class='tabs'>
 <!--   	<li><a href='our_story'>Our Story</a> </li> -->
    	<li><a href='/pages/contact'>Contact US</a> </li>
    </div>
    </br>

    <div class="span-24 hrtab last">
    <p> </p>
    </div>
    
    <!-------------------------------------------------------------------------------------------------------------- 
    The following div block element is assigned to class subtype span-24 to indicate spanning all 24 columns in the grid
    and is the last for this row. The class span-24 and class last is linked to the 
		.span-24 and .last (the last column in a row needs this class) classes in the screen.css stylesheet.
    -------------------------------------------------------------------------------------------------------------->
		<div class="span-24 last">
		</br>
		<center>		
		<h1>Only three lots left at Cottage Brook.<br> 
		Don't miss out.  Contact us today before they are gone.</h1>
		</center>
		</br>
		</div>    
    
    

    <div class="span-4">
    <%= image_tag("neighborhood_cb/cottage_brook_logo.png", :alt => "Cottage Brook Logo") %>
    </div>
    
    <div class="span-5">
    <h3>WELCOME</h3>
    <i>Enter through a picturesque<br>
    setting that winds through<br>
    Mill Creek.  Take pleasure<br>
    in the surrounding natural<br>
    woodlands and green<br>
    space that will be forever<br>
    preserved.  Enjoy having<br>
    direct access to the Ho-Jack<br>
    Trail system for walks,<br>
    jogging, biking and cross<br>
    country skiing, Cottage<br>
    Brook, is a premier<br>
    private setting in the<br>
    heart of Webster. </i> <br>
    </div>
    
    <div class="span-7">
    <h3>FEATURES</h3>
    12 Course Basement<br>
    Superior Basement Waterproofing<br>
    Energy Saving Basement Insulation<br>
    Quality Hem Fir Framing Lumber<br>
    Plywood Sheathing<br>
    2"x 6" Exterior Walls<br>
    200 Amp Underground Electric Service<br>
    Lifetime Architectural Roof Shingles<br>
    Cultured Stone Exterior Accents<br>
    Wood Grain Crafsman Main Entry Door<br>
    Hardwood or Ceramic Foyer Floors<br>
    Hardwood Railings<br>
    4 Styles of Hardboard Interior Doors<br>
    Interior Trim Package<br>
    Gas Firleplace<br>
    Recessed Lighting<br>
    Tile Floors in Full Baths<br>
    Exhaust Fans in Bathrooms<br>
    Stain Guard Nylon Carpeting<br>
    Telephone & Cable T.V. Prewired Outlets<br>
    Tile or Hardwood Kitchen and Dinette<br>
    Hardwood Raised Panel Cabinets<br>
    Appliance Pack of:<br>
    Self Cleaning Electric Range,<br>
    Dishwasher and Disposal<br>
    Central Air Conditioning<br>
    Anderson Windows w/ Low "E" Glass<br>
    Divided Light Grills on House Front<br>
    Full View Glass Patio Doors<br>
    Steel Insulated Exit Doors<br>
    Energy Star Certified<br>
    Oversized Two Car Garage<br>
    Carriage House Garage Overhead<br>
      Doors w/ Electric Opener<br>
    Low Maintenance Exteriors<br>
    Premium Grade Vinyl Siding<br>
    2 Exterior Electrical Outlets<br>
    Seamless Aluminum Gutters<br>
    Blacktop Binder Driveway<br>
    Seeded Lawn<br>
    Front Yard Light Post<br>
    Mail Box and Post<br>
    Preserved Green Space<br>
    Residential Street Lighting<br>
    </div>

    <div class="span-8 last">
    <h3>SITE PLAN</h3>
    <%= image_tag("neighborhood_cb/cottage_brook_site_map.png", :alt => "Cottage Brook Site Map") %>
    </div>


    
    <div class="span-24 footer last">
    <br>
		<center>
		All text and design is copyright ©2004-2011 Barone & Sons, LLC. All rights reserved.
		<br>
		<br>
		Call (585) 872-1490
		</center>
    </div>
    <!-------------------------------------------------------------------------------------------------------------- 
    End of blueprintcss grid container
    -------------------------------------------------------------------------------------------------------------->
    </div>

    <!-------------------------------------------------------------------------------------------------------------- 
    After Grid Contaier
    -------------------------------------------------------------------------------------------------------------->
